name: Run Program

on: 
  push:
  
  schedule:
    - cron: '*/5 * * * *'

permissions:
  contents: write
  

jobs:
  trolling:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Run it
        run: cd $GITHUB_WORKSPACE && python -m pip install requests && python main.py && git config user.name "Automated adder" && git config user.email "41898282+github-actions[bot]@users.noreply.github.com" && git add data.json && git commit -m "Add data" && git remote set-url origin "https://__token__:${{ secrets.GITHUB_TOKEN }}@github.com/pandaninjas/PrismPolyDownloads" && git push -u origin main || exit 0
